h1 {
	font-size: 40px;
	color: #333;
	text-decoration: underline;
	margin-bottom: 100px;

}



li, a, h2{
	font-size: 20px;
	color: #333;

}

body {
	background: #E0FFFF;
}

body.team {
	margin: 25px;
	text-align: center;

}

h1.team {
	font-size: 40px;
	color: #900;
	text-decoration: underline;
	margin-bottom: 100px;
	margin-left: 50px;
}

img {
	padding: 25px;
	background-color: #bbb;
	margin: 100px auto;
	display: block;
}

